@use "../themes" as *;

.content {
  position: relative;
  margin-inline: auto;
  width: 95%;

  border-spacing: 20px;
  
  @media screen and (max-width: 1000px) {
    td {
      display: block;
    }
  }
}

.toast-container {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}

.plot-block {
  height: 50vh;
}

.form-block {
  height: 50vh;

  @include themify {
    background: themed(blockBackround);
  }
}

.table-block {
  height: 300px;
  color: white;
}