@use "../../../themes" as *;

.input {
  padding: 18px 20px;
  width: 100%;
  border-radius: 12px;
  outline: none;
  font-size: 0.5em;
  border: 2px solid;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  @include themify {
    border-color: themed(inputBorderColor);
    background: themed(inputBackground);
    color: themed(inputColor);

    &::placeholder {
      color: themed(inputPlaceholderColor);
    }

    &:focus {
      background: themed(inputFocusBackground);
      border-color: themed(inputFocusBorderColor);
    }
  }
}