@use "../../themes" as *;

.header {
  text-align: center;
  padding: 10px;
  position: relative;

  @include themify {
    background: themed(headerBackground);

    .title {
      color: themed(headerTitleColor);
    }

    .subtitle {
      color: themed(headerSubTitleColor);
    }
  }
}

.title {
  font-weight: 700;
  font-size: 1em;
}

.subtitle {
  font-size: 0.8em;
}

.theme-switcher {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: absolute;
  height: 40px;
  width: 100px;
  background-color: #000;
  border-radius: 20px;
  place-items: center;
  color: white;
  top: calc(50% - 20px);
  right: 20px;

  input[type="radio"] {
    display: none;

    &:checked + label {
      color: black;
    }
  }

  label {
    cursor: pointer;
  }
}

.theme-indicator {
  width: 25px;
  height: 25px;
  position: absolute;
  left: calc(25% + 5px);
  top: calc(50% - (25px / 2) + 0.75px);
  background: white;
  border-radius: 50%;
  z-index: 50;
  transition: all 0.5s ease;
}

.dark {
  left: calc(50% + (5px - ((25px - 22px)/2)));
}

.theme-radio {
  z-index: 100;
  width: 22px;
}

.theme-icon {
  width: 22px;
  height: 22px;
  transition: all 0.5s ease;
}