.container {
  --headerColor: #ffffff;
  --headerBgColor: #2c2b2b;
  --headerUnderlineColor: #a5b9c5;

  --rowColor: #ffffff;
  --rowBgColor: #16151b;
  --rowHoverColor: black;
  --rowHoverBgColor: white;
  --rowUnderlineColor: #a5b9c5;

  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
  background-color: var(--rowBgColor);
}

.table {
  table-layout: fixed;

  td, th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
  }

  thead {
    background: var(--headerBgColor);
    color: var(--headerColor);

    font-weight: bold;
    font-size: 1.2rem;

    position: sticky;
    top: 0;

    td {
      border-bottom: 2px solid var(--headerUnderlineColor);
    }
  }

  tbody {
    tr:not(:last-child) {
      td {
        border-bottom: 1px solid var(--rowUnderlineColor);
      }
    }

    tr {
      background: var(--rowBgColor);
      color: var(--rowColor);
    }

    tr:hover {
      background: var(--rowHoverBgColor);
      color: var(--rowHoverColor);
    }
  }
}